body {
	padding: 0.1%;
	background: ;
}

.h_bar {
	background: ;
	width: auto;
	height: auto;
	padding: 1%;
}

#navigation {
	padding: 1%;
}
#navigation > a {
	padding: 0.5%;
	margin: 5px%;
	border-style: solid;
	border-width: 2px;
}

header {
	font-size: 30px;
	padding: 0.2%;
}